
{:paths ["source-code/cljc"]
 :deps  {mt-app-kit/cljc-app-dictionary {:git/url "https://github.com/mt-app-kit/cljc-app-dictionary"
                                         :sha     "0af69f0a51aaaca36e8d4bd638e680fbf94cc15a"}
         bithandshake/cljc-fruits       {:git/url "https://github.com/bithandshake/cljc-fruits"
                                         :sha     "e2fb9d3ec28fb80d464ee31a73f6d999b4a7bd87"}
         org.clojure/clojure            {:mvn/version "1.10.1"}
         org.clojure/clojurescript      {:mvn/version "1.10.891"}
         reagent/reagent                {:mvn/version "1.2.0"}}}
