
{:paths ["source-code/cljc"]
 :deps  {bithandshake/cljc-fruits       {:git/url "https://github.com/bithandshake/cljc-fruits"
                                         :sha     "98556ab6d91e988ffdfbf15164f36387ad2cc95c"}
         mt-app-kit/cljc-app-dictionary {:git/url "https://github.com/mt-app-kit/cljc-app-dictionary"
                                         :sha     "98556ab6d91e988ffdfbf15164f36387ad2cc95c"}
         org.clojure/clojure            {:mvn/version "1.10.1"}
         org.clojure/clojurescript      {:mvn/version "1.10.891"}
         reagent/reagent                {:mvn/version "1.2.0"}}}
